hr {
  color: gray;
  background-color: gray;
  background: gray;
}

.fsize {
  height: 5px;
}

.maths{
  color: blue;
}

.algebra{
  color: red;
}

.russian{
  color: green;
}

.chemistry{
  color: #9600c8;
}

.geometry {
  color: rgb(255, 170, 0);
}

.physics {
  color: rgb(255, 255, 0);
}

.info {
  color: #00ffff
}

.maths, .russian, .algebra, .chemistry, .geometry, .physics, .info {
  background-color: #c8c8c8;
}

h1, h2, p {
  text-align: center;
}
